*{
    margin: 0;
    padding: 0;
}
a {
    color: #008CC9;
    text-decoration: none;
}
body {
    font-family: "Audiowide",arial,meiryo,sans-serif;
    font-size: 75%;
    background-color: #FFF;
    min-width: 990px;
    line-height: 1.4;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ul,ol,li{
    list-style: none;
}
@font-face {
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/l7gdbjpo0cum0ckerWCdlg_O.woff2) format('woff2');
}
/*iframe引入*/
/*.my_header,.my_footer{*/
    /*width: 100%;*/
/*}*/
/*.my_header{*/
    /*margin-bottom: -15px;*/
/*}*/
/*.my_footer{*/
    /*margin-top: -15px;*/
    /*height:20rem;*/
/*}*/
/*加载*/
#loading>div {
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 50;
}
#loading div.leftPic {
    background: url("../img/common/1920_1long.png") right top;
    right: 50%;
    animation: trans1 1.3s 1s forwards
}
#loading div.rightPic {
    background: url("../img/common/1920_2long.png");
    right: 0;
    animation: trans2 1.3s 1s forwards
}
#loading span {
    width: 2px;
    height: 0;
    background: #2ca4f0;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    z-index: 60;
    animation: 1s trans0;
}
@keyframes trans0 {
    0% {height: 0;}
    100% {height: 100%;}
}
@keyframes trans1 {
    0% {right: 50%;}
    100% {right: 100%;}
}
@keyframes trans1_1 {
    0% {right: 100%;}
    100% {right: 50%;}
}
@keyframes trans2 {
    0% {width: 50%;}
    100% {width: 0%;}
}
@keyframes trans2_1 {
    0% {width: 0%;}
    100% {width: 50%;}
}
/*登录、注册*/
#loading .rightPic .bhs_loginPanel{
    position: absolute;
    top: 300px;
    left: -150px;
    z-index: 70;
    width: 300px;
    height: 400px;
    opacity: 0;
    background-color: #fff;
    border: 2px solid #e3162f;
    border-radius: 5px;
}
#loading .rightPic .bhs_loginPanel .bhs_login_esc {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 80;
    font-size: 40px;
    line-height: 16px;
    cursor: pointer;
    color: #262626;
    background-color: #fff;
}
#loading .rightPic .bhs_loginPanel .bhs_login_esc:hover {
    color: #e3162f;
}
@keyframes loginPanel {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes loginPanel_1 {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
/*主体*/
#bhs_contents {
    margin: 0 auto;
    padding: 0;
    position: relative;
    min-width: 990px;
    width: 100%;
}
/*轮播图*/
/*#demoCarousel{*/
    /*width: 990px;*/
    /*margin: 0 auto 42px;*/
/*}*/
/*.carousel-indicators{*/
    /*bottom: -32px;*/
/*}*/
/*.carousel-indicators li{*/
    /*width: 50px;*/
    /*height: 6px;*/
    /*background-color: #262626;*/
/*}*/
/*.carousel-indicators li.active{*/
    /*background-color: #e3162f;*/
/*}*/
/*.carousel-control-prev,.carousel-control-next{*/
    /*width: 3%;*/
    /*height: 100%;*/
    /*background-color: #666;*/
/*}*/
.container{
    position: relative;
    width: 990px;
    min-width: 990px;
    height: 417px;
    margin: 0 auto 42px;
    padding: 0;
}
.slider, .img {
    width: inherit;
    height: inherit;
}
.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.img {
    position: absolute;
    perspective: 1000px;
}
.img1 .frag{
    background-image: url(../img/banner1.jpg)
}
.img2 .frag {
    background-image: url(../img/banner2.jpg)
}
.img3 .frag {
    background-image: url(../img/banner3.jpg)
}
.img4 .frag {
    background-image: url(../img/banner4.jpg)
}
.img5 .frag {
    background-image: url(../img/banner5.jpg)
}
.img6 .frag {
    background-image: url(../img/banner6.jpg)
}
.frag {
    width: 165px;
    height: inherit;
    float: left;
    opacity: 0;
    z-index: 0;
    background-size: cover;
    transform-origin: center right;
    transform: rotateY(90deg) translateZ(100px) scale(1.5);
    transition: transform .6s, opacity .6s,filter 2s ease-out;
    filter: saturate(0) blur(10px) brightness(.6) contrast(4);
}
.img .frag2  {
    background-position: -165px 0;
    transition-delay: .2s;
}
.img .frag3  {
    background-position: -330px 0;
    transition-delay: .4s;
}
.img .frag4  {
    background-position: -495px 0;
    transition-delay: .6s;
}
.img .frag5  {
    background-position: -660px 0;
    transition-delay: .8s;
}
.img .frag6  {
    background-position: -825px 0;
    transition-delay: 1s;
}
#slide1:checked ~ .slider .img1 .frag, #slide2:checked ~ .slider .img2 .frag, #slide3:checked ~ .slider .img3 .frag, #slide4:checked ~ .slider .img4 .frag, #slide5:checked ~ .slider .img5 .frag, #slide6:checked ~ .slider .img6 .frag {
    transform: rotateY(0) translateZ(0) scale(1);
    filter: saturate(1) blur(0) brightness(1) contrast(1);
    opacity: 1;
    z-index: 1;
}
.controls {
    position: absolute;
    bottom: -35px;
    left: 50%;
    margin-left: -175px;
}
.controls label {
    display: block;
    height: 10px;
    width: 50px;
    float: left;
    background-color: #e3162f;
    margin-right: 10px;
    cursor: pointer;
    opacity: .2;
    transition:opacity .5s;
}
.controls label:hover, .side-controls label:hover, #slide1:checked ~ .controls label:nth-of-type(1), #slide2:checked ~ .controls label:nth-of-type(2), #slide3:checked ~ .controls label:nth-of-type(3), #slide4:checked ~ .controls label:nth-of-type(4), #slide5:checked ~ .controls label:nth-of-type(5), #slide6:checked ~ .controls label:nth-of-type(6) {
    opacity: .8;
}
.side-controls label {
    position: absolute;
    display: block;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    top: 50%;
    margin-top: -60px;
    cursor: pointer;
    opacity: .2;
    transition:opacity .5s;
}
#slide1:checked ~ .side-controls label:nth-of-type(6), #slide2:checked ~ .side-controls label:nth-of-type(1), #slide3:checked ~ .side-controls label:nth-of-type(2), #slide4:checked ~ .side-controls label:nth-of-type(3), #slide5:checked ~ .side-controls label:nth-of-type(4), #slide6:checked ~ .side-controls label:nth-of-type(5) {
    left: -20px;
    border-right: 20px solid #e3162f;
}
#slide1:checked ~ .side-controls label:nth-of-type(2), #slide2:checked ~ .side-controls label:nth-of-type(3), #slide3:checked ~ .side-controls label:nth-of-type(4), #slide4:checked ~ .side-controls label:nth-of-type(5), #slide5:checked ~ .side-controls label:nth-of-type(6), #slide6:checked ~ .side-controls label:nth-of-type(1) {
    right: -20px;
    border-left: 20px solid #e3162f;
}
.slider {
    background-color: #000;
}
.container > input {
    display:none;
}
/*内容主体*/
#bhs_contentsWrap {
    margin: 0 auto;
    padding: 0 0 65px 0;
    width: 990px;
}
#bhs_sideL {
    float: left;
    margin: 0 15px 0 0;
    padding: 0;
    width: 155px;
}
#bhs_main {
    float: left;
    margin: 0;
    padding: 0;
    width: 550px;
}
#bhs_sideR {
    float: right;
    margin: 0 0 0 0px;
    padding: 0;
    width: 255px;
}
/*左侧*/
#bhs_sideL #bhs_side_gunpla,#bhs_sideL #bhs_sideLink {
    background: #fff;
    border: 1px solid #e5e5e5;
    margin: 0 0 10px 0;
    padding: 0 0 3px 0;
}
#bhs_sideL h3.bhs_title {
    border-bottom: 1px solid #dcdcdc;
    margin: 0 0 10px 0;
    padding: 8px 7px;
    position: relative;
}
#bhs_sideL h3.bhs_title span {
    border-left: 5px solid #262626;
    color: #191919;
    font-size: 1.2rem;
    float: left;
    line-height: 1.1;
    margin: 0;
    padding: 2px 0 0 9px;
}
#bhs_sideL #bhs_side_gunpla ul.logoList {
    margin: 0;
    padding: 0;
    text-align: center;
}
#bhs_sideL #bhs_side_gunpla ul.logoList li {
    margin: 0 0 8px;
    padding: 0;
}
#bhs_sideL #bhs_side_gunpla ul.logoList li a {
    display: inline-block;
    height: 65px;
    width: 150px !important;
    background: url("../img/common/brand.jpg")no-repeat;
    background-size: cover;
}
#bhs_sideL #bhs_side_gunpla ul.logoList li:nth-child(2) a {
    background-position: 0px -65px;
}
#bhs_sideL #bhs_side_gunpla ul.logoList li:nth-child(3) a {
    background-position: 0px -130px;
}
#bhs_sideL #bhs_side_gunpla ul.logoList li:nth-child(4) a {
    background-position: 0px -195px;
}
#bhs_sideL #bhs_side_gunpla ul.logoList li:nth-child(5) a {
    background-position: 0px -260px;
}
#bhs_sideL #bhs_side_gunpla ul.logoList li:nth-child(6) a {
    background-position: 0px -325px;
}
#bhs_sideL #bhs_side_gunpla ul.logoList li:nth-child(7) a {
    background-position: 0px -390px;
}
#bhs_sideL #bhs_side_gunpla ul.logoList li:nth-child(8) a {
    background-position: 0px -455px;
}
#bhs_sideL .bhs_side_btn_more {
    border: 1px solid #666;
    border-radius: 4px;
    margin: 0 auto;
    padding: 1px;
    width: 86%;
    box-sizing: border-box;
}
#bhs_sideL .bhs_side_btn_more a {
    background: #666;
    border-radius: 2px;
    color: #fff !important;
    display: block;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    text-decoration: none !important;
    width: 100%;
    opacity: 1;
    transition: all ease-in-out .25s;
    box-sizing: border-box;
}
#bhs_sideL #bhs_sideLink ul {
    margin: 0;
    padding: 7px 4px 0 4px;
    text-align: left;
}
#bhs_sideL #bhs_sideLink ul li {
    display: block;
    margin: 0 0 7px 0;
    padding: 0;
    height: 54px;
    vertical-align: middle;
    opacity: 1;
    transition: all ease-in-out .25s;
    box-sizing: border-box;
}
#bhs_sideL #bhs_sideLink ul li:hover{
    background-color: #666;
}
#bhs_sideL #bhs_sideLink ul li a {
    color: #333 !important;
    display: inline-block!important;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    text-decoration: none !important;
    vertical-align: middle !important;
    width: 90% !important;
    z-index: 10;
}
#bhs_sideL #bhs_sideLink ul li a:before {
    content: url(../img/common/bhs_side_icon_caution.png);
    display: inline-block;
    height: 19px;
    line-height: 0;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 23px;
    box-sizing: border-box;
}
#bhs_sideL #bhs_sideLink ul li span:after {
    border-right: 2px solid #b3b3b3;
    border-top: 2px solid #b3b3b3;
    content: " ";
    display: inline-block;
    height: 6px;
    line-height: 0;
    position: absolute;
    top: 31%;
    right: -12px;
    transform: rotate(45deg) !important;
    vertical-align: middle;
    width: 6px;
    visibility: inherit !important;
}
/*中间*/
#bhs_news {
    background: #fff;
    border: 1px solid #e5e5e5;
    padding: 0;
    margin: 0 auto 26px auto;
    font-size: 1rem;
}
h2.bhs_main_title {
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
    padding: 6px 5px;
    position: relative;
}
h2.bhs_main_title span {
    border-left: 5px solid #262626;
    color: #191919;
    display: inline-block;
    font-size: 1.2rem !important;
    line-height: 1.1;
    margin: 0;
    padding-left: 10px;
    vertical-align: middle;
}
#bhs_news ul li {
    background: #fff;
    border: 1px solid #fff;
    display: inline-block;
    margin: 0 0 36px 0;
    padding: 0;
    vertical-align: top;
    width: 172px;
    transition: all ease-in-out .25s;
    box-sizing: border-box;
}
#bhs_news ul li:hover {
    border:1px solid #e3162f;
    background:linear-gradient(233deg, #e56420, #c22525, #3d9c31, #37bbde);
    animation:hue-animate 1s linear infinite
}
@keyframes hue-animate{
    from{
        filter:hue-rotate(0);
    }
    to{
        filter:hue-rotate(360deg);
    }
}
#bhs_news ul li a, #bhs_news ul li a:hover {
    text-decoration: none;
}
#bhs_news ul li p.bhs_info_img {
    display: block;
    margin: 0;
    padding: 0;
    width: 170px;
    height: 170px;
}
#bhs_news ul li p.bhs_info_img img {
    height: auto !important;
    width: 170px !important;
}
#bhs_news ul li p.bhs_info_cd {
    margin: 0;
    padding: 0;
    height: 26px;
    line-height: 26px;
}
#bhs_news ul li p.bhs_info_cd span.bhs_info_new {
    color: #fff;
    background-color: #e3162f;
    height: 24px;
    display: inline-block;
    font-size: 10px;
    line-height: 1.1;
    letter-spacing: -0.8px;
    margin: 0 5px 3px 0;
    padding: 5px 3px;
    text-align: center;
    vertical-align: middle;
}
#bhs_news ul li p.bhs_info_cd span.bhs_info_date {
    color: #222;
    display: inline-block;
    font-size: 11px;
    line-height: 1.1;
    letter-spacing: -0.8px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
#bhs_news ul li p.bhs_info_txt {
    color: #222;
    font-size: 0.9rem;
    font-weight: 100;
    line-height: 1.5;
    height: 114px;
    margin: 0 auto 0 auto;
    padding: 8px 8px 14px 8px;
    word-break: break-all;
    overflow: hidden;
}
#bhs_news ul li p.bhs_info_price {
    color: #e3162f;
    text-align: center;
    margin-bottom: 0;
}
#bhs_main .bhs_main_btn_all {
    border: 1px solid #666;
    border-radius: 4px;
    margin: 0 auto 10px auto;
    padding: 1px;
    width: 347px;
    box-sizing: border-box;
}
#bhs_main .bhs_main_btn_all a {
    background: #666;
    border-radius: 2px;
    color: #fff !important;
    display: block;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    text-decoration: none !important;
    width: 100%;
    opacity: 1;
    transition: all ease-in-out .25s;
    box-sizing: border-box;
}
#bhs_main .bhs_main_btn_all a span {
    font-size: 1.2rem;
    display: inline-block;
    line-height: 1.3;
    margin: 0 0 0 -16px;
    padding: 13px 0;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
}
/*右侧*/
#bhs_sideR #bhs_side_ranking,#bhs_sideR #bhs_side_gallery,#bhs_sideR #bhs_side_ad {
    background: #fff;
    border: 1px solid #e5e5e5;
    margin: 0 0 7px 0;
    padding: 0;
    width: 100%;
}
#bhs_sideR h3.bhs_title {
    border-bottom: 1px solid #dcdcdc;
    margin: 0 0 10px 0;
    padding: 8px 7px;
    position: relative;
}
#bhs_sideR h3.bhs_title span {
    border-left: 5px solid #262626;
    color: #191919;
    font-size: 1.2rem;
    float: left;
    line-height: 1.1;
    margin: 0;
    padding: 2px 0 0 9px;
}
#bhs_sideR #bhs_side_ranking ol {
    margin: 0;
    padding: 0 9px 4px 9px;
}
#bhs_sideR #bhs_side_ranking ol li {
    border: 1px solid #e1e1e1;
    display: block;
    margin: 0 0 5px 0;
    padding: 2px;
    width: 100%;
    opacity: 1;
    transition: all ease-in-out .25s;
    box-sizing: border-box;
}
#bhs_sideR #bhs_side_ranking ol li.rank01{
    background: url("../img/common/bhs_side_ranking_no1.png")no-repeat right top;
}
#bhs_sideR #bhs_side_ranking ol li.rank02{
    background: url("../img/common/bhs_side_ranking_no2.png")no-repeat right top;
}
#bhs_sideR #bhs_side_ranking ol li.rank03{
    background: url("../img/common/bhs_side_ranking_no3.png")no-repeat right top;
}
#bhs_sideR #bhs_side_ranking ol li.rank04{
    background: url("../img/common/bhs_side_ranking_no4.png")no-repeat right top;
}
#bhs_sideR #bhs_side_ranking ol li.rank05{
    background: url("../img/common/bhs_side_ranking_no5.png")no-repeat right top;
}
#bhs_sideR #bhs_side_ranking ol li p.bhs_rank_cd {
    display: inline-block;
    margin: 0 0 0 2px;
    padding: 0;
    vertical-align: top;
    width: 204px;
}
/*面包屑*/
#bhs_navbar {
    margin: 0 auto;
    padding: 20px 0 0 0;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
#bhs_navbar .bclist:last-child {
    margin: 0 auto 0;
    padding: 0 0 20px 0;
    width: 990px;
    box-sizing: border-box;
}
#bhs_navbar .bclist {
    margin: 0 auto 0;
    padding: 0 0 5px 0;
    width: 990px;
    box-sizing: border-box;
}
#bhs_navbar .bclist ul li {
    color: #4d4c4c;
    display: inline-block;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding: 0 0 0 11px;
    vertical-align: middle;
    position: relative;
    width: auto;
}
#bhs_navbar .bclist ul li+li:before {
    content: ">";
    line-height: 1.5;
    margin-right: 20px;
}
/*列表主要内容*/
#bhs_main_2col {
    float: left;
    margin: 0 auto;
    padding: 0;
    width: 720px;
}
#bhs_page_gunpla_cat {
    background: #fff;
    padding: 0;
    margin: 0 auto 26px auto;
}
.bhs_main_summary {
    margin: 15px 0 15px 0;
}
.bhs_main_summary p img {
    border: 1px solid #e5e5e5;
    display: inline-block;
    margin: 0 9px 0 0;
    padding: 0;
    vertical-align: top;
    width: 150px;
}
.bhs_main_summary p span {
    display: inline-block;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 550px;
    box-sizing: border-box;
}
table#release {
    width: 720px;
    margin: 10px 0 0;
    font-size: 0;
}
/*查询表单*/
#bhs_searchForm {
    background: #eee;
    margin: 30px auto 30px auto;
    padding: 0;
}
#bhs_searchForm h4 {
    background: #3eac33;
    float: left;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    margin: 0;
    padding: 0 25px;
}
#bhs_searchForm h4 span {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    margin: 0;
    padding: 0;
    text-align: center;
}
#bhs_searchForm p.bhs_search_num {
    float: left;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    margin: 0;
    padding: 0 15px;
}
#bhs_searchForm form {
    clear: both;
    padding: 10px 0 14px 0;
}
#bhs_searchForm form ul {
    font-size: 0;
    line-height: 0;
    margin: 0 auto 6px auto;
    padding: 0;
    width: 690px;
}
#bhs_searchForm form ul li {
    background: #fff;
    display: inline-block;
    margin: 0 1% 5px 0;
    padding: 8px 10px;
    vertical-align: top;
    width: 49%;
    height: 38px;
    box-sizing: border-box;
}
#bhs_searchForm form ul li span {
    display: inline-block;
    font-size: 13px;
    line-height: 22px;
    vertical-align: top;
    width: 50%;
}
#bhs_searchForm form ul li.bhs_search_works select,#bhs_searchForm form ul li.bhs_search_seq select {
    width: 50%;
    height: 19px;
    box-sizing: border-box;
}
#bhs_searchForm form ul li.bhs_search_cat p {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 50%;
    box-sizing: border-box;
}
#bhs_searchForm form ul li.bhs_search_cat label {
    display: inline-block;
    line-height: 0;
    margin: 0 5px 0 0;
    padding: 2px 0 2px 0;
    vertical-align: middle;
}
#bhs_searchForm form ul li.bhs_search_cat label input {
    display: inline-block;
    margin: 0 2px 0 0;
    padding: 0;
    vertical-align: top;
}
#bhs_searchForm form ul li.bhs_search_cat label span {
    background: #ad1728;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    line-height: 1 !important;
    margin: 0;
    padding: 2px 4px 2px 4px;
    vertical-align: top;
    width: auto;
    box-sizing: border-box;
}
#bhs_searchForm form ul li.bhs_search_jan input,#bhs_searchForm form ul li.bhs_search_pdname input {
    vertical-align: top;
    width: 50%;
    height: 19px;
    box-sizing: border-box;
}
#bhs_searchForm form ul li.bhs_search_pdname {
    height: 60px;
}
#bhs_searchForm .bhs_submit {
    border: 1px solid #666;
    border-radius: 2px;
    display: block;
    margin: 0 auto;
    padding: 1px;
    text-align: center;
    width: 361px;
    box-sizing: border-box;
}
#bhs_searchForm .bhs_submit button {
    background: #666;
    border: none;
    box-shadow: none;
    cursor: pointer;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
    opacity: 1;
    transition: all ease-in-out .25s;
    box-sizing: border-box;
}
#bhs_searchForm .bhs_submit button span {
    color: #fff;
    font-size: 12px;
    display: inline-block;
    line-height: 1 !important;
    margin: 0;
    padding: 10px 0;
    position: relative;
    vertical-align: middle !important;
    box-sizing: border-box;
}
/*列表*/
ul.pnav {
    margin: 22px auto 20px auto;
    padding: 0;
    text-align: center;
}
ul.pnav li {
    display: inline;
    font-size: 19px;
    line-height: 1.2;
    margin: 0 7px 0 0;
    padding: 0;
}
ul.pnav li span {
    background: #3eac33;
    border: 1px solid #e1e1e1;
    color: #fff;
    display: inline-block;
    height: 43px;
    margin-bottom: 5px;
    padding: 10px 5px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    box-sizing: border-box;
}
ul.pnav li a {
    background: #fff;
    border: 1px solid #e1e1e1;
    color: #222;
    display: inline-block;
    height: 43px;
    margin-bottom: 5px;
    padding: 10px 5px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    opacity: 1;
    transition: all ease-in-out .25s;
    box-sizing: border-box;
}
ul.pnav li.prev a, ul.pnav li.next a {
    background: #fff;
    border: 1px solid #e1e1e1;
    color: #222;
    display: inline-block;
    height: 43px;
    margin-bottom: 5px;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: auto;
    box-sizing: border-box;
}
ol.bhs_pdlist_sbs {
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
}
ol.bhs_pdlist_sbs li {
    border: 1px solid #e1e1e1;
    display: inline-block;
    margin: 0 8px 15px 0;
    padding: 0px;
    vertical-align: top;
    width: 352px;
    height: 178px;
    box-sizing: border-box;
}
ol.bhs_pdlist_sbs li:hover {
    background:linear-gradient(233deg, #e56420, #c22525, #3d9c31, #37bbde);
    animation:hue-animate 1s linear infinite
}
ol.bhs_pdlist_sbs li img {
    display:inline-block;
    margin-top:-214px;
    margin-left: 0;
    height: 130px;
    width: 130px;
}
ol.bhs_pdlist_sbs li p {
    display: inline-block;
    width: 190px;
}
ol.bhs_pdlist_sbs li span.bhs_pd_ttl {
    display: block;
    font-size: 15px;
    line-height: 1.2;
    height: 90px;
    margin: 0 0 10px 0;
    padding: 0;
}
ol.bhs_pdlist_sbs li span.bhs_pd_price {
    border-bottom: 1px dashed #e1e1e1;
    display: block;
    font-size: 12px;
    line-height: 1.2;
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
}
ol.bhs_pdlist_sbs li span.bhs_pd_deliver {
    display: block;
    font-size: 11px;
    line-height: 1.2;
    margin: 3px 0 0 0;
    padding: 0;
}
ol.bhs_pdlist_sbs li span.bhs_pd_cat {
    color: #fff;
    display: inline-block;
    font-size: 10px;
    line-height: 10px;
    margin: 0 3px 3px 0;
    padding: 3px 4px 3px 4px;
}
span.cat_shop {
    background: #ad1728;
}
/*详情内容*/
#bhs_page_gunpla_detail {
    background: #fff;
    padding: 0;
    margin: 0 auto 26px auto;
}
#bhs_gallery {
    margin: 0 0 18px 0;
    padding: 0;
    overflow: hidden;
    width: 720px;
}
#bhs_gallery #bhs_gallery_main {
    float: left;
    width: 475px;
}
.bx-wrapper {
    position: relative;
    max-width: 100%;
    margin: 0px auto;
    padding: 0;
}
.bx-wrapper .bx-viewport {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 475px;
    background: url("../img/detail_3244_1.jpg");
    background-size: cover;
}
#bhs_gallery #bhs_gallery_thumbs {
    float: right;
    height: 320px;
    list-style: none;
    margin: 0 0 13px 0;
    padding: 0;
    width: 240px;
}
#bhs_gallery #bhs_gallery_thumbs li {
    background-color: #EEE;
    display: block;
    float: left;
    height: 75px;
    margin: 0 0 5px 5px;
    overflow: hidden;
    padding: 0;
    width: 75px;
}
#bhs_gallery #bhs_gallery_thumbs li a {
    display: table-cell;
    height: 75px;
    line-height: 75px;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: top;
    width: 75px;
}
#bhs_gallery #bhs_gallery_thumbs li a img {
    border: 1px solid #e1e1e1;
    display: inline;
    margin: 0;
    height: 73px;
    width: 73px;
    padding: 0;
    text-indent: 0;
    vertical-align: top;
}
#bhs_gallery #bhs_pd_ontline {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0 0 0 5px;
    width: 236px;
}
#bhs_gallery #bhs_pd_ontline .bhs_sale_table {
    border-collapse: separate;
    border: 1px solid #bfbfbf;
    border-spacing: 0;
    line-height: 1.5;
    margin: 0 0 8px 0;
    text-align: left;
}
#bhs_gallery #bhs_pd_ontline .bhs_sale_table th {
    background: #f2f2f2;
    border-bottom: none;
    font-size: 13px;
    line-height: 1.3;
    padding: 10px 0;
    text-align: center;
    vertical-align: top;
    width: 74px;
    box-sizing: border-box;
}
#bhs_gallery #bhs_pd_ontline .bhs_sale_table td {
    border-bottom: none;
    padding: 10px;
    vertical-align: top;
    width: 162px;
    box-sizing: border-box;
}
#bhs_gallery #bhs_pd_ontline .bhs_sale_table td span {
    color: #e3162f;
}
.bhs_detail_explain {
    margin: 0 auto 20px auto;
    padding: 0 10px;
    width: 720px;
    box-sizing: border-box;
}
.bhs_sale_notice {
    margin: 0 0 20px 0;
    padding: 0;
}
.bhs_sale_notice ul {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
    margin: 0;
    padding: 14px;
}
.bhs_sale_notice ul li {
    font-size: 12px;
    line-height: 1.3;
    margin: 0 0 3px 0;
    padding: 0;
}