*{margin: 0;padding: 0;}
a {
    color: #008CC9;
}
body {
    font-family: 'Audiowide',arial,meiryo,sans-serif;
    font-size: 75%;
    background-color: #FFF;
    min-width: 990px;
    line-height: 1.4;
}
ul,ol,li{
    list-style: none;
}
@font-face {
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/l7gdbjpo0cum0ckerWCdlg_O.woff2) format('woff2');
}
/*头部*/
#bhs_header {
    background: #fff;
    height: 82px;
    margin: 0 auto;
    padding: 0;
    min-width: 990px;
    width: 100%;
}
#bhs_header .bhs_headerWrap {
    margin: 0 auto;
    padding: 10px 0 10px 0;
    position: relative;
    width: 990px;
}
#bhs_header .bhs_headerWrap h1 {
    display: inline-block;
    margin: 0 37px 0 0;
    padding: 0;
    vertical-align: middle;
    width: 380px;
}
a img {
    border-style: none;
    transition: opacity .2s ease;
}
#bhs_header .bhs_headerWrap #bhs_header_aside {
    display: inline-block;
    vertical-align: top;
    width: 568px;
}
#bhs_header .bhs_headerWrap #bhs_header_aside .bhs_header_aside_sns {
    float: right;
    margin: 0;
    padding: 0;
    width: 580px;
}
#bhs_header .bhs_headerWrap #bhs_header_aside .bhs_header_aside_sns ul {
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    text-align: right;
}
#bhs_header .bhs_headerWrap #bhs_header_aside .bhs_header_aside_sns ul li {
    display: inline-block;
    margin: 0 6px 0 0;
    padding: 0;
    vertical-align: top;
}
#bhs_header .bhs_headerWrap #bhs_header_aside .bhs_header_aside_search {
    display: inline-block;
    margin: 0 12px 0 0 !important;
    padding: 0;
    vertical-align: middle;
    width: 277px;
}
#bhs_header .bhs_headerWrap #bhs_header_aside .bhs_header_aside_search ul li.bhs_header_aside_search_txt {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
}
#bhs_header .bhs_headerWrap #bhs_header_aside .bhs_header_aside_cserach input[type="text"] {
    border: 1px solid #c2c2c2;
    border-radius: 2px;
    font-size: 12px;
    height: 24px;
    line-height: 1.2;
    margin: 0 5px 0 0;
    outline: none;
    overflow: visible;
    padding: 0 0 0 5px;
    width: 200px;
    box-sizing: border-box;
}
#bhs_header .bhs_headerWrap #bhs_header_aside .bhs_header_aside_search ul li.bhs_header_aside_search_btn {
    border: 1px solid #666;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    height: 24px;
    line-height: 1.2;
    margin: 0 auto;
    padding: 1px;
    vertical-align: middle;
    width: 40px;
    box-sizing: border-box;
}
#bhs_header .bhs_headerWrap #bhs_header_aside .bhs_header_aside_search input[type="submit"] {
    background: #6f6f6f;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    height: 100%;
    line-height: 0;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
    opacity: 1;
    transition: all ease-in-out .25s;
    box-sizing: border-box;
}